@charset "UTF-8";

 * {
     padding: 0;
     margin: 0;
     list-style: none;
 }

 body {
     font-family: "Trebuche MS", Helvetica, sans-serif;
     background: #fff url(../imagens/fundo.png) repeat-x;
 }

 #container {
     width: 750px;
     margin: 0 auto;
 }

 #cabecalho {
     height: 150px;  
     padding-top: 25px;
     background: url(../imagens/detalhe-topo.png) no-repeat right top;
 }

 #cabecalho .logo {
    background: url(../imagens/logo.png) no-repeat center;
    height: 66px;
    width: 152px;
    text-indent: -3000px;
 }

 #menu ul {
     background-color: #b10333;
     margin-top: 30px;
     width: 650px;
     float: left;
 }

 #menu ul li {
     float: left;
 }

 #menu ul a {
    text-decoration: none;
    color: #fff;
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    background: url(../imagens/divisor.png) no-repeat left center;
 }

 #menu ul .primeiro a {
     background: none;
 }

 #menu ul a:hover {
     color: #69001d;
 }

 a:link, a:visited {
     color: #b10333;
     padding: 2px;
 }

 a:hover {
     color: #e50040;
 }

 body.home #menu a#home,
 body.brasil #menu a#brasil,
 body.internacional #menu a#internacional,
 body.fotos #menu a#fotos
   {
     color: #fff;
     background-color: #de003e;
     cursor: text;
 }

 #principal {
     display: flex;
     flex-direction: row-reverse;
     margin-top: 60px;
     background-color: #f5f5f5;
 }

 #uma-coluna #conteudo-principal {
    width: 750px;
}

#duas-colunas #conteudo-principal {
    width: 555px;
}

 #tres-colunas #conteudo-principal {
     width: 270px;
     margin-right: 15px;
 }

 #conteudo-secundario {
     order: -1;
     width: 270px;
 }

 #lateral {
    width: 180px;
    margin-right: 15px;
}

.caixa {
    background: #f3f3f3 url(../imagens/fundo-caixa.png);
    padding: 5px;
    margin: 10px 0px;
}

.caixa-conteudo {
    background-color: #fff;
    padding: 5px;
    margin-top: 5px;
}

h2 {
    background-color: #294c71;
    color: #fff;
    font-size: 1em;
    padding: 5px;
}

h3.destaque {
    background-color: #B10333;
    margin-bottom: 2px;
    display: inline-block;
    padding: 2px;
    text-transform: uppercase;
    font-size: 0.9em;
    color: #fff;
}

h3{
    display: inline;
    padding: 3px;
    text-transform: uppercase;
    font-size: 0.9em;
}

.destaque h3 {
    background-color: #b10333;
    color: #fff;
    margin-bottom: 2px;
}

.entrevista h3 {
    background-color: #de003e;
    margin-bottom: 2px;
}

img.imagem-principal {
    border: 3px solid #DFDFDF;
    width: 98%;
}

.lista-noticias li {
    padding: 2px;
    height: 62px;
    border-bottom: 1px solid #ccc;
}

.lista-noticias li a img {
    float: left;
    margin: 5px;
}

.lista-noticias li a {
    text-decoration: none;
}

.lista-noticias li a h3 {
    text-transform: uppercase;
    font-size: 0.8em;
    color: #3E7AB9;
    padding: 0;
}

.lista-noticias  li a p {
    font-size: 0.7em;
    color: #000;
}

.lista-noticias li:hover {
    background-color: #EEE;
    cursor: pointer;
}

#lateral ul a {
    display: block;
    padding: 3px;
    line-height: 30px;
    border-bottom: 1px solid #f3f3f3;
    font-size: 0.9em;
    text-decoration: none;
    color: #000;
}

#lateral ul a:hover {
    padding-left: 20px;
    color: #a1a1a1;
    background: #F9F9F9 url(../imagens/marcador.png) no-repeat left center;
}

#lateral label {
    display: block;
    cursor: pointer;
}

#lateral input[type="email"]{
    width: 125px;
    padding: 5px;
    border: none;
    background-color: #fff;
    font-size: 0.9em;
    
}

#lateral input[type="submit"] {
    width: 80px;
    padding: 5px;
    color: white;
    font-size: 0.9em;
    background-color: #b10333;
    border: 2px solid #870529;
}

#rodape {
    text-align: center;
    background-color: #294c71;
    padding: 20px;
    margin-top: 20px;
}

#rodape p {
    color: white;
}